version: '3.8'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: smart-appointment-db
      POSTGRES_USER: smart-appointment
      POSTGRES_PASSWORD: smart-appointment-password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: